.MoviesItem {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  min-height: 280px;
}

.MoviesItem__row {
  width: 100%;

  display: grid;
  grid-template-columns: 183px 1fr;
}

.MoviesItem__imgContainer {
  display: flex;
  align-items: center;
  height: 280px;
}

.MoviesItem__content {
  position: relative;
  padding: 10px 20px;
}

.MoviesItem__circleRating {
  position: absolute;
  right: 12px;
  top: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  font-size: 12px;
  color: #000;

  border: 2px solid black;

  border-radius: 50%;
}

.MoviesItem__circleRating--red {
  border-color: #e90000;
}

.MoviesItem__circleRating--orange {
  border-color: #e97e00;
}

.MoviesItem__circleRating--yellow {
  border-color: #e9d100;
}

.MoviesItem__circleRating--green {
  border-color: #66e900;
}

.MoviesItem__title {
  margin-top: 10px;
}

.MoviesItem__date {
  margin-top: 7px;
}

.MoviesItem__genres {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 7px;
}

.MoviesItem__description {
  margin-top: 10px;
}

.MoviesItem__rateWrapper {
  display: block;
  margin-top: auto;
}

.MoviesItem__rateWrapper .ant-rate-star {
  font-size: 16px;
}
